################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
.vs

/Prog8/Prog8/bin
/Prog8/Prog8/obj/Debug
